*~
Figures_of_Merit*
Configuration_2024/*.gp
Configuration/plotstuff
Configuration/TODO
Configuration/plot_array.py
Configuration/plotstuff
Configuration/mymap.html
Configuration/arecibo
Configuration/bla
Configuration/effelsberg
Configuration/fast_a
Configuration/fast_ska.gp
Configuration/parkes
Configuration/pulsarFoMlog.pdf
Configuration/ska_fast_comparison
Configuration/AntennaLocationSummary_2013.xlsx
Sensitivit*/sens_notes
Sensitivit*/SKA_Tsky.txt
Sensitivit*/atm-to-am.awk
Sensitivit*/FC1.csv
Sensitivit*/FC1.xlsx
Sensitivit*/bigplot.p*
Sensitivit*/fomplot.p*
Sensitivit*/NOTES
Sensitivit*/big_plot.gp
Sensitivit*/fast_robert
Sensitivit*/fom_plot.gp
Sensitivit*/ska1-low_full
Sensitivit*/skamid_500m_50pct
Sensitivit*/skamid_20km_50pct
Sensitivit*/skamid_full_50pct
Sensitivit*/ugmrt
Sensitivit*/mid_500m_50pct
Sensitivit*/mk_500m_50pct
Sensitivit*/Band2_PSR*
Sensitivit*/tyler*
Configuration_2024/Low_stations_vs_radius.ps
Configuration_2024/Mid_dishes_vs_radius.ps
Configuration_2024/Low_stations_vs_radius.pdf
Configuration_2024/Mid_dishes_vs_radius.pdf
