*~
Configuration/LOW_dist_metres.txt
Configuration/MID_dist_metres.txt
Configuration/LOW_dist_metres.csv
Configuration/MID_dist_metres.csv
Configuration/plotstuff
Configuration/TODO
Configuration/plot_array.py
Configuration/plotstuff
Configuration/mymap.html
Configuration/arecibo
Configuration/bla
Configuration/effelsberg
Configuration/fast_a
Configuration/fast_ska.gp
Configuration/parkes
Configuration/pulsarFoMlog.pdf
Configuration/ska_fast_comparison
Sensitivity/sens_notes
Sensitivity/SKA_Tsky.txt
Sensitivity/atm-to-am.awk
